html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-screen {
    display: flex;
    /* Sidebar + Chat uno al lado del otro */
    height: 100%;
    width: 100%;
}

.chat-area {
    flex: 1;
    /* ocupa todo el espacio restante */
    display: flex;
    flex-direction: column;
}